body {
  font-family: Roboto, Helvetica, Arial;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  object-fit: cover;
  margin-right: 10px;
}

.main {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}


.profile-info {
  line-height: 22px;
  flex: 1; 
}

.name {
  font-weight: 500;
  font-size: 16px;
}

.nick,
.category {
  color: rgb(153, 139, 139);
  font-size: 16px;
}

button {
  background-color: rgb(65, 142, 230);
  color: white;
  font-family: Roboto, Helvetica, Arial;
  font-size: 16px;
  border: none;
  padding-top: 6px;
  padding-right: 14px;
  padding-left: 14px;
  padding-bottom: 6px;
  border-radius: 4px;
  transition: opacity 0.15s;
  margin-left: 100px;
}

div button {
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

button:active {
  opacity: 0.5;
}
