.search-bar {
  width: 400px;
  font-family: Arial;
  font-size: 13px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  border-color: rgb(197, 189, 189);
  border: none;
  border-width: 1px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 150px;
  outline: none;
}